<web-app>
    <servlet>
        <servlet-name>game-engine</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.npg.engine</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>game-engine</servlet-name>
        <url-pattern>/api/v1/*</url-pattern>
    </servlet-mapping>
</web-app>